body {
    background-color: #14131A;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}


/* В контейнере, который оборачивает весь сайт
задаем нафиг максимальную ширину и выравниваем все 
элементы страницы с помощью margin */

.container {
    margin: auto;
    max-width: 1140px;
}

/* Дисплей прописываем флекс, чтобы элементы все вставали в ряд 
внутренний отступ на 40 пикселей чтобы элементы не стояли впритык
к верхушке сайта. элайн-айтемс прописываем, чтобы элементы списка
в хедере встали ровно посередине лого */ 

.header {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

/* Лист стайл пишем нан, чтобы убрать кружки
марджин хз зачем, если марджин не будет, все равно все ровно
, а вот паддинг ноль нужно!! если не отключить паддинг, то элементы
будут не там где надо 
*/

.menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}

/* Марджин райт пишем чтобы обозначить расстояние между элементами
листа в навигационном меню сайта */

.menu-item {
    margin-right: 30px;
}

/* прописал марджин слева специально для первого элемента чтобы подвинуть
элементы меню от лого как и в макети на фигме. ты тупой? зачем? 
можно было просто подвинуть все элементы прописав все в меню
ну ладно. */

.menu-item-about {
    margin-left: 52px;
    margin-right: 30px;
}

/* Так как элементы листа меню прописаны через <a href> нужно
заменить синий тошнотный цвет и убрать подчеркивание с помощью
текст-декорейшн и калар */

.item-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.release-date {
    display: block;
    margin-bottom: 38.1px;
    font-size: 24px;
    line-height: 28px;
}

.hero {
    margin-top: 80px;
}

.description {
    margin-top: 40.7px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423px;
}

.watch-trailer {
    margin-top: 70px;
    width: 204px;
    height: 46px;
}

.tickets-icon {
    display: inline;
}

.tickets-text {
    font-size: 14px;
    display: inline;
}